Lennart/Opd 1/Untitled.ipynb
Lennart/Opd 1/Untitled.html
Lennart/Opd 1/Untitled1.ipynb
Lennart/Opd 1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Lennart/Opd 2/.ipynb_checkpoints/Opdracht 2 Lennart-checkpoint.ipynb
